
.container{
  border:  3px solid;
  width: 20%;
  height: 60%;
  margin: auto;
  margin-top: 20%;
          }
  /*************/
.time{
  display: flex;
  justify-content:space-around;
     }
/*************/
.titre{ 
  display: flex;
  justify-content:space-around;
      }
/**************/
.button{display: flex;
justify-content: space-around;}
.btn1{cursor: pointer;}
.btn2{cursor: pointer;}